body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(209, 203, 203);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links{
    padding-right: 10px;
}


#icon{
    width: 150px ;
    height:150px ;
    padding-right: 20px;
    padding-left: 10px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(241, 10, 10);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display:flex
     
}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(241, 234, 234);
    background-color: rgb(24, 21, 21);
    border: 5px solid white;
    border-radius: 15px;
   

}


.img_noticia{
    width: 300px;
    height: 200px;
    border:4px;
    border-radius: 15px;

}
#final{
    background-color: rgb(221, 23, 23);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;

}
#escalacao{
    
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 5px solid white;
    display:flex
}

.img_jogadores{
    width: 50px;
    height: 50px;
    margin-right: 120px;
    
}