body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(211, 9, 49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#icon{
    width: 150px ;
    height:150px ;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}